<div class="container-fluid">
  <div class="row thead-fixed" head-resize>
    <div class="col-md-10 col-md-offset-1">
      <table class="users table table-hover table-bordered">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th colspan="{{$ctrl.config.xmz.length}}">项目组</th>
            <th colspan="{{$ctrl.config.dwh.length}}">队委会</th>
            <th colspan="{{$ctrl.config.zzb.length}}">种子班</th>
            <th></th> 
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th ng-repeat="xmz in $ctrl.config.xmz">{{xmz}}</th>
            <th ng-repeat="dwh in $ctrl.config.dwh">{{dwh}}</th>
            <th ng-repeat="zzb in $ctrl.config.zzb">{{zzb}}</th>
            <th><button type="button" class="btn btn-primary submitChange" ng-click="$ctrl.submitChange()">提交修改</button></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in $ctrl.users">
            <td>{{user.username}}</td>
            <td>吧吧吧</td>
            <td ng-repeat="xmz in $ctrl.config.xmz"></td>
            <td ng-repeat="dwh in $ctrl.config.dwh"></td>
            <td ng-repeat="zzb in $ctrl.config.zzb"></td>
            <td><div class="signal"></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class="users table table-hover table-bordered">
        <thead style="visibility:hidden">
          <tr>
            <th></th>
            <th></th>
            <th colspan="{{$ctrl.config.xmz.length}}">项目组</th>
            <th colspan="{{$ctrl.config.dwh.length}}">队委会</th>
            <th colspan="{{$ctrl.config.zzb.length}}">种子班</th>
            <th></th> 
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th ng-repeat="xmz in $ctrl.config.xmz">{{xmz}}</th>
            <th ng-repeat="dwh in $ctrl.config.dwh">{{dwh}}</th>
            <th ng-repeat="zzb in $ctrl.config.zzb">{{zzb}}</th>
            <th><button class="submitChange">提交修改</button></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in $ctrl.users | orderBy:$ctrl.orderProp" username="{{user.username}}">
            <td>{{user.username}}</td>
            <td>{{user.realname}}</td>
            <td class="xmz-normal" ng-repeat="xmz in $ctrl.config.xmz" ng-click="$ctrl.updateUser(user,'xmz',xmz)" ng-class="{'xmz-selected': user['xmz'].indexOf(xmz)>-1}"></td>
            <td class="dwh-normal" ng-repeat="dwh in $ctrl.config.dwh" ng-click="$ctrl.updateUser(user,'dwh',dwh)" ng-class="{'dwh-selected': user['dwh'].indexOf(dwh)>-1}"></td>
            <td class="zzb-normal" ng-repeat="zzb in $ctrl.config.zzb" ng-click="$ctrl.updateUser(user,'zzb',zzb)" ng-class="{'zzb-selected': user['zzb'].indexOf(zzb)>-1}"></td>
            <td><div class="signal" ng-class="{'signal-changed': user.isChanged}"></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
