 
<div class="p+ check-container" flex-container="row" flex-column="12" ng-if="$ctrl.username">
    <div flex-item="3" class="aside-bar-l">
    	<ul id="accordion" class="accordion">
				<li ng-repeat="(key, value) in $ctrl.rateList">
					<div class="link" ng-click="$ctrl.toogleMenu(key)"><i class="fa fa-paint-brush"></i>{{key}}<i class="fa fa-chevron-down"></i></div>
					<ul class="submenu" ng-show="$ctrl.toogle[key]">
						<li ng-repeat="names in value" ng-click="$ctrl.updateNowPeople(key, names.username, $index)"><a>{{names.realname}}<lx-icon lx-id="check" lx-size="xs" lx-color="green" lx-type="circled" ng-show="$ctrl.isChecked(names.score)"></lx-icon></a></li>
					</ul>
				</li>
		</ul>

    </div>
    <div flex-item="9">
    	<span class="fs-display-2 display-block bg-text" ng-hide="$ctrl.nowPeople.username!=''">Select Someone First</span>
    	<div class="p+" ng-if="$ctrl.nowPeople.username!=''">
    		<span class="fs-title display-block">{{$ctrl.nowPeople.teamName+' -- '+$ctrl.nowPeople.realname}}</span>
    	</div>
    	<div class="p+ card-container" ng-if="$ctrl.nowPeople.username!=''">
		    <div class="card question" ng-repeat="question in $ctrl.questions[$ctrl.nowPeople.partName.toUpperCase()]" on-finish-render>
		            <lx-radio-group>
		                <label for="" class="question-title">{{question['title']}}</label>
				        <lx-radio-button name="q{{question.questionIndex}}" ng-value="option.score" ng-model="$ctrl.formData['q'+question.questionIndex]" lx-color="blue" ng-repeat="option in question['options']" ng-click="$ctrl.updateScore()" ng-disabled="$ctrl.nowPeople.haveScore">
				            <lx-radio-button-label>{{option['content']}}</lx-radio-button-label>
				        </lx-radio-button>
				    </lx-radio-group>
		 
		        
		    </div>
		    <div class="p+ submit-btn"  ng-hide="$ctrl.nowPeople.haveScore">
				<button class="btn btn--m btn--raised tc-indigo-50 submit-form" lx-ripple="indigo-500" ng-click="$ctrl.submitScore()" >提交</button>
			</div>
		</div>
		
    </div>
</div>
<div class="slide-left" slide-resize ng-class="{'slide-left-show':$ctrl.isSlideShow}">
	<ul id="accordion" class="accordion">
				<li><div class="link" style="height:60px;"><i class="logo" style="top:8px"></i></div></li>
				<li ng-repeat="(key, value) in $ctrl.rateList">
					<div class="link" ng-click="$ctrl.toogleMenu(key)"><i class="fa fa-paint-brush"></i>{{key}}<i class="fa fa-chevron-down"></i></div>
					<ul class="submenu" ng-show="$ctrl.toogle[key]">
						<li ng-repeat="names in value" ng-click="$ctrl.updateNowPeople(key, names.username, $index)"><a>{{names.realname}}<lx-icon lx-id="check" lx-size="xs" lx-color="green" lx-type="circled" ng-show="$ctrl.isChecked(names.score)"></lx-icon></a></li>
					</ul>
				</li>
		</ul>
</div>
<div class="slide-mask" ng-show="$ctrl.isSlideShow" ng-click="$ctrl.toggleSlide()">
	<div class="category-tip">
		<p style="position:relative;right:15px;">轻触这里</p>
		<p style="position:relative;right:15px;">关闭目录</p>
		<lx-icon lx-id="cursor-pointer" lx-size="m" lx-color="gray" lx-type="flat"></lx-icon>
	</div>
</div>