<!doctype html>
<html lang="en" ng-app="userAdmin">
  <head>
    <meta charset="utf-8">
    <title>User Admin</title>
    <link rel="stylesheet" href="/lib/bootstrap.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <script src="/lib/angular.min.js"></script>
    <script src="/static/js/admin.module.js"></script>
    <script src="/static/js/user-list/user-list.module.js"></script>
    <script src="/static/js/user-list/user-list.component.js"></script>
  </head>
  <body>

    <user-list></user-list>w

  </body>
</html>
