<!doctype html>
<html lang="en" ng-app="userViewAdmin">
  <head>
    <meta charset="utf-8">
    <title>User Admin</title>
    <link rel="stylesheet" href="/lib/bootstrap.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <script src="/lib/angular.min.js"></script>
    <script src="/static/js/admin-view.module.js"></script>
    <script src="/static/js/user-list-view/user-list-view.module.js"></script>
    <script src="/static/js/user-list-view/user-list-view.component.js"></script>
  </head>
  <body>

    <user-list></user-list>

  </body>
</html>
